In [1]:
import pandas as pd

In [2]:
sample_dict = {'name':['Gautham','Sachin','Chandra'],'Dept':['CSE','ECE','ECE']}

In [3]:
sampleDf = pd.DataFrame(sample_dict)

In [31]:
sampleDf['name'] = sampleDf['name'].str.upper()
sampleDf['name length'] = [len(x) for x in sampleDf['name']]

In [32]:
sampleDf

      name Dept  name length
0  GAUTHAM  CSE            7
1   SACHIN  ECE            6
2  CHANDRA  ECE            7

In [33]:
pd.get_dummies(sampleDf)

   name length  name_CHANDRA  name_GAUTHAM  name_SACHIN  Dept_CSE  Dept_ECE
0            7             0             1            0         1         0
1            6             0             0            1         0         1
2            7             1             0            0         0         1

In [34]:
sampleDf.iloc[2:4]

      name Dept  name length
2  CHANDRA  ECE            7

In [36]:
help(sampleDf.groupby)

Help on method groupby in module pandas.core.generic:

groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, observed=False, **kwargs) method of pandas.core.frame.DataFrame instance
    Group series using mapper (dict or key function, apply given function
    to group, return result as series) or by a series of columns.

    Parameters
    ----------
    by : mapping, function, label, or list of labels
        Used to determine the groups for the groupby.
        If ``by`` is a function, it's called on each value of the object's
        index. If a dict or Series is passed, the Series or dict VALUES
        will be used to determine the groups (the Series' values are first
        aligned; see ``.align()`` method). If an ndarray is passed, the
        values are used as-is determine the groups. A label or list of
        labels may be passed to group by the columns in ``self``. Notice
        that a tuple is interpreted a (single) key.
    axis : int, default 0
    level : int, level name, or sequence of such, default None
        If the axis is a MultiIndex (hierarchical), group by a particular
        level or levels
    as_index : boolean, default True
        For aggregated output, return object with group labels as the
        index. Only relevant for DataFrame input. as_index=False is
        effectively "SQL-style" grouped output
    sort : boolean, default True
        Sort group keys. Get better performance by turning this off.
        Note this does not influence the order of observations within each
        group.  groupby preserves the order of rows within each group.
    group_keys : boolean, default True
        When calling apply, add group keys to index to identify pieces
    squeeze : boolean, default False
        reduce the dimensionality of the return type if possible,
        otherwise return a consistent type
    observed : boolean, default False
        This only applies if any of the groupers are Categoricals
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. versionadded:: 0.23.0

    Returns
    -------
    GroupBy object

    Examples
    --------
    DataFrame results

    >>> data.groupby(func, axis=0).mean()
    >>> data.groupby(['col1', 'col2'])['col3'].mean()

    DataFrame with hierarchical index

    >>> data.groupby(['col1', 'col2']).mean()

    Notes
    -----
    See the `user guide
    <http://pandas.pydata.org/pandas-docs/stable/groupby.html>`_ for more.

    See also
    --------
    resample : Convenience method for frequency conversion and resampling
        of time series.

In [65]:
for i in sampleDf.groupby('Dept'):
    print(i)

('CSE',       name Dept  name length
0  GAUTHAM  CSE            7)
('ECE',       name Dept  name length
1   SACHIN  ECE            6
2  CHANDRA  ECE            7)