In [1]:
import pandas as pd

In [2]:
import torch

In [3]:
ds = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])

In [4]:
ds.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
ds['species'] = pd.Categorical(ds['species']).codes

In [6]:
ds.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [7]:
ds.tail()

     sepal_length  sepal_width  petal_length  petal_width  species
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

In [8]:
ds = ds.sample(frac = 1, random_state=1234)

In [9]:
train_input = ds.values[:120, :4]
train_target = ds.values[:120, 4]

In [10]:
test_input = ds.values[120:, :4]
test_output = ds.values[120:, 4]

In [11]:
torch.manual_seed(1234)

In [12]:
hidden_units = 5

In [13]:
net = torch.nn.Sequential(torch.nn.Linear(4, hidden_units), torch.nn.ReLU(),torch.nn.Linear(hidden_units, 3))

In [14]:
criterion = torch.nn.CrossEntropyLoss()

In [15]:
optimizer = torch.optim.SGD(net.parameters(), lr = 0.1, momentum = 0.9)

In [16]:
epochs = 50

In [17]:
for epoch in range(epochs):
    inputs = torch.autograd.Variable(torch.Tensor(train_input).float())
    targets = torch.autograd.Variable(torch.Tensor(train_target).long())
    
    optimizer.zero_grad()
    out = net(inputs)
    loss = criterion(out, targets)
    loss.backward()
    optimizer.step()
    
    if epoch == 0 or (epoch + 1) % 10 == 0:
        print(f'Epoch {epoch + 1} Loss: {loss.item()}')

Epoch 1 Loss: 1.2181036472320557
Epoch 10 Loss: 0.6744884252548218
Epoch 20 Loss: 0.24468271434307098
Epoch 30 Loss: 0.1396862119436264
Epoch 40 Loss: 0.1000506654381752
Epoch 50 Loss: 0.08554724603891373

In [18]:
import numpy as np

In [19]:
inputs = torch.autograd.Variable(torch.Tensor(test_input).float())
targets = torch.autograd.Variable(torch.Tensor(test_output).long())

In [20]:
optimizer.zero_grad()

In [21]:
out = net(inputs)

In [22]:
_, predicted = torch.max(out.data, 1)

In [24]:
error_count = test_output.size - np.count_nonzero((targets == predicted).numpy())

In [27]:
print(f'Errors: {error_count}; Accuracy: {100 * torch.sum(targets == predicted) / test_output.size}%')

Errors: 0; Accuracy: 100%